header{
    width: 100%;
    background-color: rgba(249, 115, 22, 0.15);
    position: fixed;
    z-index: 1000;
    backdrop-filter: blur(10px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.header-bar{
    display: flex;
    width: 1140px;
    height: 100px;
    margin: 0 auto;
    justify-content: space-between;    
    align-items: center;
}

.logo{
    font-family: "Montserrat", poppins ,sans-serif;
    font-size: 35px;
    font-weight: 800;
    font-style: italic;
    text-decoration: none;
    color: #F97316;
}

.navbar ul{
    display: flex;
    gap: 10px;
    margin-right: 20px;
    justify-content: space-around;
    list-style-type: none;
}

.navbar a{
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: right;
    color: #fff;
}

.navbar a:hover{
    color: #F97316;
}

.navbar .active{
    color: #F97316;
}