.grid-overlay {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1140px;
    height: 100vh;
    pointer-events: none;
    
    z-index: 9999;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.grid-overlay div {
    background: rgba(255, 255, 255, 0.05);
    
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

/* section hero */
.hero {
    display: flex;
    width: 1920px;
    height: 700px;
    margin: 0 auto;
    align-items: center;
    background-image: url(/public/img/Orange\ light.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contend-hero{
    display: flex;
    position: relative;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
}

.text {
    margin-bottom: 36px;
}

.text h1 {
    font-family: "Montserrat", poppins, sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    width: 567px;
}

.text h1 span {
    color: #2563EB;
    font-style: italic;
}

.text p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    width: 517px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.button-main {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    background-color: #F97316;
    color: #fff;
    border-radius: 50px;
    margin-right: 18px;
    padding: 10px 28px;
    border: 0px;
    text-decoration: none;
}

.button-second {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    background-color: #ffffff00;
    color: #F97316;
    border: 1px solid #F97316;
    border-radius: 50px;
    padding: 10px 28px;
    text-decoration: none;

}

.points {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px 14px;
    color: #fff;
    list-style: none;
}

.points li {
    position: relative;
    padding-left: 25px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.points li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url(/public/icons/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img-area{
    position: relative;
    width: 50%;
    height: 700px;

}

.foto{
    position: absolute;
    bottom: 0;
    right: -52px;
    width: auto;
    height: auto;
}

/* Section problem-solution */

.problem-solution{
    display: flex;
    width: 1140px;
    height: 362px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
}

.problem h2{
    font-family: "Montserrat", Poppins, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #2563EB;
    width: 605px;
}

.problem p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    color: #fff;
    width: 463px;
    margin-top: 8px;
}



.solution{
    display: flex;
    align-items: center;
    background-image: url(/public/img/pc.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
}

.arrows{
    background-color: transparent;
    border: 0px;
    padding: 5px;
    align-items: center;
    position: relative;
    left: 280px;
    animation: flotar 5s ease-in-out infinite;

}

.arrows img{
    width: 65px;
    height: 65px;
}

.arrows:active{
    background-color: #fff;
}

@keyframes flotar {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}


.box-solution{
    width: 366px;
    height: 206px;
    background-color: rgba(249, 115, 22, 0.1);
    backdrop-filter: blur(5px); 
    border: 1px solid #ea5a0c;
    border-radius: 20px;
    align-content: center;
    position: relative;
    right: -310px;
}

.box-solution h2{
    font-family: "Montserrat", Poppins, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: #F97316;
}

.box-solution p{
    
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin: 8px auto 0;
    width: 325px;
}


/* .glass {
    background: rgba(255, 255, 255, 0.1);  
    backdrop-filter: blur(10px);  
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
} */